.genealogy-container {
    position: relative;
    width: 100%;
}

.genealogy-entries-container {
    padding-left: 100px;
}

.line {
    background-color: red;
    width: 10px;
    position: relative;
    margin: 0 auto;
}

.genealogy-entry {
    position: relative;
    width: 30px;
    float: left;
    text-align: center;
}

.periods {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 42px;
}

.period {
    display: flex;
    align-items: center;
}

.period-label {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: center;
    font-size: 24px;
    margin-left: -40px;
    height: 20px
}

.entry-name {
    font-size: 10px;
    height: 20px;
}