<div class="genealogy-container" [style.height.px]="getMaxYear()">
   <div class="periods">
        
    </div>

    <div class="genealogy-entries-container">
        @for(entry of genealogy; track entry) {
            <div class="genealogy-entry"
                [style.top.px]="getLineTop(entry)">
                <p class="entry-name">
                    {{ entry.name }} 
                    <bible-reference 
                        [bookRef]="entry.bookRef">
                    </bible-reference>
                </p>
                <div class="line"
                    [style.height.px]="getLineHeight(entry)"
                >
                </div>
            </div>
        }
    </div>
</div>