/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';


h1 {
  font-size: 1.5rem;
}

.app-wrapper {
    padding: 1rem;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-item {
  border: 2px solid #DFB880;
  border-radius: 5px;
  background-color: white;
}

.header-wrapper {
    background-color: white;
    border-bottom: 2px solid #DFB880;
    color: black;
}

button {
  border-bottom: 2px solid #DFB880;
  padding: 5px;
  border-radius: 5px;
}

.columns {
  column-count: 3;
  column-gap: 30px;
}

.black-on-white {
  background-color: white;
  color: black;
}

.white-on-blue {
  background-color: #1A3E71;
  color: white;
}