################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VisualBible
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VisualBible/v17/.wsuo
/.vs/VisualBible/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/visual-bible/dist/visual-bible/browser/index.html
/visual-bible/dist/visual-bible/browser/main-NSD22JZ3.js
