.header-wrapper {
    border-bottom: 1px solid #ccc;
    background-color: white;
}

.header {
    padding: 1rem;
    height: 8vh;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.settings-container {
    padding: 1rem;
}