<div class="header-wrapper">
    <div class="header">
        <div class="align-left">
            <h1>The Bible visualized</h1>
        </div>

        <div class="align-right">
            <button class="settings-button" (click)="toggleSettings()">
                <i class="fa-solid fa-gear"></i>
            </button>
        </div>
        
    </div>

    @if(settingsToggle) {
        <div class="settings-container">
            <app-settings></app-settings>
        </div>
    }
</div>
    
