<div class="container white-on-blue">
    <h1>Approximate distance for decimal digits</h1>

    <h2>Vertical distances</h2>

    Considering the curvature of the earth, the distance between north and south is equal everywhere.
    The reason to describe this values in detail is to decide on precision when drawing locations on the map.

    <h2>North to south difference</h2>

    difference between:<br /> 
    <table>
        <tr>
            <td>
                31 degrees and 21 degrees
            </td>
            <td>
                ≈ 1110 km
            </td>
        </tr>
        <tr>
            <td>
                31 degrees and 32 degrees
            </td>
            <td>
                ≈ 111 km
            </td>
        </tr>
        <tr>
            <td>
                31.0 degrees and 31.1 degrees
            </td>
            <td>
                ≈ 11.1 km
            </td>
        </tr>
        <tr>
            <td>
                31.00 degrees and 31.01 degrees
            </td>
            <td>
                ≈ 1.11 km
            </td>
        </tr>
        <tr>
            <td>
                31.000 degrees and 31.001 degrees
            </td>
            <td>
                ≈ 111 m
            </td>
        </tr>
        <tr>
            <td>
                31.0000 degrees and 31.0001 degrees
            </td>
            <td>
                ≈ 11.1 m
            </td>
        </tr>
        <tr>
            <td>
                31.00000 degrees and 31.00001 degrees
            </td>
            <td>
                ≈ 1.11 m
            </td>
        </tr>
    </table>
    <br />

    Considering the curvature of the earth, the distance between west and east is not equal everywhere.
    Let's look at the difference of digits around the Israel

    <h2>West to east difference on 31 degree latitude line</h2>
    difference between:<br /> 
    <table>
        <tr>
            <td>
                31 degrees and 21 degrees
            </td>
            <td>
                ≈ 950 km
            </td>
        </tr>
        <tr>
            <td>
                31 degrees and 32 degrees
            </td>
            <td>
                ≈ 95 km
            </td>
        </tr>
        <tr>
            <td>
                31.0 degrees and 31.1 degrees
            </td>
            <td>
                ≈ 9.5 km
            </td>
        </tr>
        <tr>
            <td>
                31.00 degrees and 31.01 degrees
            </td>
            <td>
                ≈ 950 m
            </td>
        </tr>
        <tr>
            <td>
                31.000 degrees and 31.001 degrees
            </td>
            <td>
                ≈ 95 m
            </td>
        </tr>
        <tr>
            <td>
                31.0000 degrees and 31.0001 degrees
            </td>
            <td>
                ≈ 9.5 m
            </td>
        </tr>
        <tr>
            <td>
                31.00000 degrees and 31.00001 degrees
            </td>
            <td>
                ≈ 95 cm
            </td>
        </tr>
    </table>
</div>